{% extends 'base.html.twig' %}

{% block title %}Les Photos de Joël | Actualités{% endblock %}

{% block body %}
<h1 class="text-center">Actualités</h1>


  {% if actus|length == 0 %}
  <section>
    <h3 class="text-center">
      Aucune actualité
    </h3>
  </section>
  {% else %}
  <section class="row text-center">
  <section class="m-auto">
    {% for actu in actus %}
    {% if actu.path is null %}
    <article class="m-3">
      <div class="p-2 d-flex flex-column">
        <div>
          {% if actu.path %}
          <figure class="m-1 mr-2">
            <img src="{{ asset('/img/' ~ actu.path) | imagine_filter('expo') }}" alt="">
          </figure>
          {% endif %}
        </div>
        <div class="d-flex flex-column justify-content-center">
          <h3>{{actu.titre}}<small> - {{actu.dateCreation |date('d/m/Y') }}</small></h3>
          <p>
            {{ actu.contenu | raw}}
          </p>
        </div>
      </div>
    </article>
    {% else %}
    {% if loop.index is odd %}
    <article class="m-3">
      <div class="p-2 d-flex">
        <div>
          {% if actu.path %}
          <figure class="m-1 mr-2">
            <img src="{{ asset('/img/' ~ actu.path) | imagine_filter('expo') }}" alt="">
          </figure>
          {% endif %}
        </div>
        <div class="d-flex flex-column justify-content-center">
          <h3>{{actu.titre}}<small> - {{actu.dateCreation |date('d/m/Y') }}</small></h3>
          <p>
            {{ actu.contenu | raw}}
          </p>
        </div>
      </div>
    </article>
    {% else %}
    <article class="m-3">
      <div class="p-2 d-flex flex-row-reverse">
        <div>
          {% if actu.path %}
          <figure class="m-1 mr-2">
            <img src="{{ asset('/img/' ~ actu.path) | imagine_filter('expo') }}" alt="">
          </figure>
          {% endif %}
        </div>
        <div class="d-flex flex-column justify-content-center">
          <h3>{{actu.titre}}<small> - {{actu.dateCreation |date('d/m/Y') }}</small></h3>
          <p>
            {{ actu.contenu | raw}}
          </p>
        </div>
      </div>
    </article>
    {% endif %}
    {% endif %}
    {% endfor %}
  </section>
  {% endif %}
</section>

{% endblock %}