{% extends 'base.html.twig' %}

{% block title %}Les Photos de Joël | Expositions{% endblock %}

{% block body %}
<h1 class="text-center">Expositions</h1>

  {% if expos|length == 0 %}
  <section>
    <h3 class="text-center">
      Aucune exposition
    </h3>
  </section>
  {% else %}
  <section class="row text-center">
    <section class="m-auto">
      {% for expo in expos %}
      {% if expo.path is null %}
      <article class="m-3">
        <div class="p-2 d-flex flex-column">
          <div>
            {% if expo.path %}
            <figure class="m-1 mr-2">
              <img src="{{ asset('/img/' ~ expo.path) | imagine_filter('expo') }}" alt="">
            </figure>
            {% endif %}
          </div>
          <div class="d-flex flex-column justify-content-center">
            <h3>{{expo.titre}}</h3> <span>{{expo.dateCreation |date('d/m/Y') }}</span>
            <p>
              Date de l'exposition : {{ expo.dateEvent |date('d/m/Y') }}
              <br>
              {{ expo.contenu | raw}}
            </p>
          </div>
        </div>
      </article>
      {% else %}
      {% if loop.index is odd %}
      <article class="m-3">
        <div class="p-2 d-flex">
          <div>
            {% if expo.path %}
            <figure class="m-1 mr-2">
              <img src="{{ asset('/img/' ~ expo.path) | imagine_filter('expo') }}" alt="">
            </figure>
            {% endif %}
          </div>
          <div class="d-flex flex-column justify-content-center">
            <h3>{{expo.titre}}</h3> <span>{{expo.dateCreation |date('d/m/Y') }}</span>
            <p>
              Date de l'exposition : {{ expo.dateEvent |date('d/m/Y') }}
              <br>
              {{ expo.contenu | raw}}
            </p>
          </div>
        </div>
      </article>
      {% else %}
      <article class="m-3">
        <div class="p-2 d-flex flex-row-reverse">
          <div>
            {% if expo.path %}
            <figure class="m-1 mr-2">
              <img src="{{ asset('/img/' ~ expo.path) | imagine_filter('expo') }}" alt="">
            </figure>
            {% endif %}
          </div>
          <div class="d-flex flex-column justify-content-center">
            <h3>{{expo.titre}}</h3> <span>{{expo.dateCreation |date('d/m/Y') }}</span>
            <p>
              Date de l'exposition : {{ expo.dateEvent |date('d/m/Y') }}
              <br>
              {{ expo.contenu | raw}}
            </p>
          </div>
        </div>
      </article>
      {% endif %}
      {% endif %}
      {% endfor %}
    </section>
  </section>
  {% endif %}

{% endblock %}